#navbar {
  background: #222;
  color: white;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
  .register {
    min-width: 150px;
    color: white;
    background-color: var(--primary);
  }
  .btn {
    min-width: 150px;
    color: white;
  }
  .dropdown-wrapper {
    position: relative;
  }
  .dropdown-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
    .email {
      font-size: 1.2rem;
    }
    .avatar {
      background: var(--primary);
      color: #fff;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      margin: 0 10px;
    }
  }
  .dropdown {
    font-size: 0.875rem;
    position: absolute;
    top: 60px;
    width: 100%;
    left: 0;
    z-index: 10;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 6px 12px,
      rgba(0, 0, 0, 0.23) 0px 6px 12px;
    animation: grow 200ms forwards;
    transform-origin: top;
    background: #fff;
    color: #222;
    cursor: default;
    .active {
      background: rgba(0, 0, 0, 0.05);
    }
    li {
      list-style: none;
    }
    a,
    button {
      width: 100%;
      color: #222;
      display: block;
      padding: 10px 20px;
      font-size: 0.875rem;
    }
    a {
      text-decoration: none;
    }
    .logout-btn {
      color: #222;
      text-align: left;
      padding: 10px 20px;
      display: block;
      border-top: 1px solid #d2d6dc;
    }
    h2 {
      font-size: 0.875rem;
      font-weight: 400;
      padding: 20px;
      border-bottom: 1px solid #d2d6dc;
    }
    @media (max-width: 768px) {
      left: initial;
      right: 0.75rem;
    }
    @keyframes grow {
      from {
        transform: scale(1, 0);
      }
      to {
        transform: scale(1, 1);
      }
    }
  }
}
