#selected-roster {
  .selected-player {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    .avatar {
      border: 3px solid white;
      border-radius: 4px;
      width: 125px;
      height: 125px;
      display: flex;
      align-items: center;
      justify-content: center;
      @media (max-height: 1000px) {
        width: 100px;
        height: 100px;
      }
      @media (max-height: 830px) {
        width: 75px;
        height: 75px;
      }
      img {
        width: 105px;
        height: 105px;
        object-fit: cover;
        @media (max-height: 1000px) {
          width: 80px;
          height: 80px;
        }
        @media (max-height: 830px) {
          width: 55px;
          height: 55px;
        }
      }
      .empty-background {
        background: rgba(255, 255, 255, 0.25);
        width: 105px;
        height: 105px;
        @media (max-height: 1000px) {
          width: 80px;
          height: 80px;
        }
        @media (max-height: 830px) {
          width: 55px;
          height: 55px;
        }
      }
    }
    .player-info {
      h1 {
        margin-left: 20px;
        color: white;
      }
    }
  }
}
