#selected-roster {
  .selected-player {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
   .avatar {
    border: 3px solid white;
    border-radius: 4px;
    width: 150px; height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 135px;
      height: 135px;
      object-fit: cover;
    }
    .empty-background {
      background: rgba(255,255,255,0.25);
      width: 135px;
      height: 135px;
    }
   }
   .player-info {
     h1 {
       margin-left: 20px;
       color: white
     }
   }
  }
}